/* HEADER */
header {
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  padding: 10px 0 0;
  position: relative;
  z-index: 999;
  margin-bottom: 50px;
}
.left-header {
  width: 550px;
}
.logo {
  height: 40px;
  cursor: pointer;
}

.orange-btn .icon-xs {
  padding-right: 5px;
}
.search-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 2px;
}
.icon-search {
  margin-right: 10px;
}
.user-connect {
  cursor: pointer;
  border: none;
  background-color: inherit;
  position: relative;
  padding-bottom: 7px;
  width: 110px;
  height: 60px;
}
.user-connect p {
  margin-top: 5px;
}
.underline:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
  margin-top: 6px;
}
.underline:hover:after {
  width: 100%;
  background: var(--main-color);
}
