/* COMMONS */

:root {
  --main-color: #f56b2a;
  --main-bg-color: #fafafa;
}

body {
  background-color: var(--main-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 20px;
  line-height: 24px;
  color: #1a1a1a;
  font-weight: 600;
}
h2:hover {
  cursor: pointer;
  color: var(--main-color);
}
h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  margin: 20px 0;
}

.wrapper {
  display: flex;
  max-width: 1074px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.icon-xs {
  font-size: 15px;
}
.icon-s {
  font-size: 20px;
}
.icon-xl {
  font-size: 50px;
  color: #4183d7;
  margin-right: 40px;
}

/* HEADER */
header {
  background-color: #ffffff;
  height: 60px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 0 0;
  margin-bottom: 40px;
  position: relative;
  z-index: 999;
}
.left-header {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.logo {
  height: 40px;
}
.add-product {
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  color: white;
  width: 200px;
  height: 40px;
  cursor: pointer;
}
.add-product .icon-xs {
  padding-right: 5px;
}
.search-wrapper {
  position: relative;
}
.search {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.icon-search {
  position: absolute;
  right: 10px;
  top: 12px;
}
.icon-search:hover {
  cursor: pointer;
}
.user-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
.user-connect p {
  margin-top: 5px;
}
.user-connect:hover:not(.icon-s) {
  border-bottom: 2px solid var(--main-color);
}

/* ELLISPE */
.ellipse {
  width: 1900px;
  height: 293px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 0;
}

/* OFFERS */

.search-block {
  width: 810px;
  height: 130px;
  background-color: white;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.search-block-input,
.search-block-btn {
  height: 44px;
}
.search-block-input {
  width: 320px;
  margin-right: 20px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.search-block-btn {
  border: none;
  border-radius: 5px;
  background-color: #4183d7;
  color: white;
  width: 220px;
}
.offers-wrapper {
  display: flex;
  margin: 14px;
  width: 1000px;
  height: 180px;
  position: relative;
  /* border: 1px solid lightgray; */
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.picture {
  width: 240px;
  height: 180px;
  object-position: center;
  object-fit: contain;
  background-color: grey;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.offers-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding: 10px 0;
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price {
  font-size: 16px;
  color: var(--main-color);
  line-height: 18px;
  font-weight: 600;
}
.icon-heart {
  position: absolute;
  right: 10px;
  top: 10px;
}
.icon-heart:hover {
  cursor: pointer;
}

/* OFFER */

.offer-description {
  width: 700px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin: 40px 0;
}
.offer-description p {
  font-size: 13px;
  line-height: 20px;
  color: #1a1a1a;
  margin-bottom: 20px;
}
.offer-img {
  width: 700px;
  height: 394px;
  object-fit: contain;
  object-position: center;
}
.block-offer {
  background-color: white;
  height: 607px;
}
.offer-title-block h2 {
  margin-bottom: 10px;
}
.offer-title-block {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
}

/* FORM CONNEXION */
.wrapper-form {
  display: flex;
  justify-content: center;
}

.login-form {
  max-width: 700px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  padding: 20px 0;
  border-radius: 5px;
}
form label {
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  margin-top: 24px;
  margin-bottom: 8px;
}
.wrapper-input-form {
  display: flex;
  flex-direction: column;
}
form input,
form button {
  width: 355px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

/* LOG IN */

.connect {
  background-color: #4183d7;
  color: white;
  font-weight: 700;
  margin-top: 60px;
}
.create-account {
  color: #4183d7;
  background-color: white;
  border: 1px solid #4183d7;
}

/* SIGN UP */

.wrapper-signup {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  padding: 20px 0;
  border-radius: 5px;
  padding: 20px 20px;
}

.wrapper-input-signup {
  display: flex;
  flex-direction: column;
}
.why {
  margin-left: 40px;
  height: 576px;
  width: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup-title {
  font-weight: bold;
}
.signup-title:hover {
  color: inherit;
  cursor: initial;
}
.max-wrapper {
  display: flex;
  justify-content: center;
}
.signup-form {
  height: 576px;
  width: 363px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
}
.signup-form .connect {
  margin-top: 10px;
}
.password {
  display: flex;
  flex-direction: column;
}
.bloc {
  width: 450px;
  display: flex;
  align-items: center;
}
.signup-form .check {
  width: inherit;
}
.cgv {
  display: flex;
  vertical-align: top;
}
